.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: var(--padding-lg);
}

.button {
	display: flex;
	align-items: center;
	gap: 10px;
	background-color: transparent;
	border-radius: var(--border-radius);
	padding: var(--padding-md);
	border: none;
	font-size: 24px;
	transition: all 0.2s;
}
.button:focus,
.button:hover {
	color: var(--bg-color);
	background-color: black;
}

.button:hover > svg,
.button:focus > svg {
	fill: var(--bg-color);
}

.full-price {
	font-size: 24px;
}
