.close-btn {
	border: none;
	background-color: transparent;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: inherit;
}

.shadow {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #000000a0;
	z-index: 10000;
}

.wrapper {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 0 0 var(--padding-md);
	display: flex;
	flex-direction: column;
	gap: var(--padding-lg);
	min-width: 60vw;
	border-radius: 4px;
	background-color: #fff;
}

.header {
	padding: 10px var(--padding-md);
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	background-color: #000;
	color: white;
	fill: white;
}

.body {
	padding: 0 var(--padding-xl);
	text-align: left;
}

.title {
	font-size: 1.4em;
	line-height: 1;
}

.content {
	margin: 0;
	font-size: 1.3em;
}
